body {
  font-family: Roboto;
}

header {
  text-align: center;
}

.highlight {
  border: 5px solid red;
}

button {
  margin: auto;
  display: block;
}

#photo1, #photo2 {
  display: inline-block;
  margin: auto;
}

#photos {
  margin: auto;
  text-align: center;
}

canvas {
  margin: auto;
  width:250px;
  height:250px;
}

